/* common style */
body {
  background-color: #3414ee;
}

.header {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.nav-links {
  padding: 28px 0;
}
.nav-links li {
  display: inline-block;
  margin: 0 15px;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 0;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: #ffffff;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.nav-links li a:hover:after {
  width: 100%;
}
.button {
  background: #ff3d00;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
